.text-center {
  text-align: center;
}

//HIDE COLUMNS ON PHONE

@include respond(tab-port) {
  .hide-on-mobile {
    display: none;
  }
}

// REMOVE PADDING FROM ROWS AND COLUMNS
.row-no-padding {
  [class*='col-'] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

// short hr
.short-hr,
.short-hr--c {
  width: 6rem;
  height: 5px;
  background: none;
  border: none;
  // background-image: $gradient;
  display: block;

  &--c {
    margin: 0 auto;
  }
}

//CHANGE DEFAULT HR COLOR
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(#000, 0.12);
  margin: 1em 0;
  padding: 0;
}
