@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// MEDIA QUERY MANAGER
/*

0 - 600px: PHONE
600 - 900px: TABLET Potrait
900 - 1200px: TABLET Landscape
1200 - 1800px: NORMAL SCREEN Desktop
1800px+: Big Desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components


1em = 16px (browser default font size)
*/

@mixin respond($breakpoint) {
  @if ($breakpoint == xs) {
    @media (max-width: 37.5em) {
      // Very Small Devices (phones, 600px and below)
      @content;
    }
  }

  @if ($breakpoint == sm) {
    @media (max-width: 62em) {
      //  Small Devices (phones, 992px and below)
      @content;
    }
  }

  @if ($breakpoint == md) {
    @media (max-width: 75em) {
      // Medium Devices (phones, 1200px  and below)
      @content;
    }
  }

  @if ($breakpoint == lg) {
    @media (max-width: 93.75em) {
      // Large Devices (phones, 1400px and below)
      @content;
    }
  }

  @if ($breakpoint == xl) {
    @media (min-width: 112.5em) {
      // Very Large Devices (phones, 1400px and below)
      @content;
    }
  }

  @if ($breakpoint == only-lg) {
    @media (min-width: 75em) {
      //1200px
      @content;
    }
  }
}

@mixin bg($url, $position: center, $size: cover) {
  background-image: url($url);
  background-position: $position;
  background-size: $size;
  background-repeat: no-repeat;
}
