@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,700,900&display=swap');

// Color Variables
$primary-color: #eb3e37;
$secondary-color-blue: #142965;
$secondary-color-yellow: #f1cb46;
$black: #0d0d29;
$bg: #f2f5f7;
$grey: #4a4e66;
$white: #fff;

// FONT
$headingFont: 'Merriweather', serif;
$bodyFont: 'Lato', sans-serif;
