.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  &-top {
    padding: 8rem 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    img {
      &:nth-child(1) {
        height: 8rem;
        margin-right: 3.4rem;
        width: 29.2rem;
      }

      &:nth-child(2) {
        height: 8rem;
        width: 13.4rem;
        margin-left: 3.4rem;
      }
    }
  }

  &-main {
    width: 94.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 4rem;
    padding-bottom: 4.2rem;
    border-bottom: 1px solid rgba($grey, 0.12);

    .footer-menu-container {
      width: 78%;

      .footer-menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        li {
          margin-bottom: 3rem;
          width: calc(100% / 3);

          // &:last-child,
          // &:nth-last-child(2) {
          //   display: none;
          // }
        }
      }
    }

    .footer-social {
      flex-grow: 1;

      p {
        font: normal normal bold 1.8rem/2.8rem $bodyFont;
        color: $grey;
        margin-bottom: 2.8rem;
      }

      a {
        svg {
          margin-right: 1.4rem;

          path {
            fill: #8b8fa4;
            transition: fill 0.3s linear;
          }

          &:hover {
            path {
              fill: $black;
            }
          }
        }
      }
    }
  }

  &-bottom {
    width: 94.5rem;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;

    &--links {
      display: flex;

      li {
        list-style: none;

        a {
          font-size: 1.4rem;
          color: rgba($grey, 0.8);
          line-height: 2.6rem;
        }

        &:first-child {
          margin-right: 4.6rem;
          position: relative;

          &::after {
            position: absolute;
            right: -2.3rem;
            content: '';
            height: 6px;
            width: 6px;
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba($grey, 0.6);
          }
        }
      }
    }
  }
}
